* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Comic Neue', cursive; */
}
.welcome-font{
    /* font-family:  'Lavishly Yours', cursive; */
    font-family: 'Updock', cursive;
    color: #c59b62;
    font-size:4em;
}
.heading-discover{
    font-family: 'Updock', cursive;
    color: #c59b62;
    font-size:4em;
    margin-bottom: -30px;
}

.font-head 
{
    /* font-family: 'Marcellus SC', serif; */
}

/* .overflow-x: hidden; */
/* ======Nav======== */
.navbar-main-brand{
   margin-left: 5%;
}
.nav-manu {
    padding: 25px;
}

.fas {
    color: whitesmoke;
    margin-left: 20%;
}

.manu {
    font-size: 20px;
    letter-spacing: 1px;
    color: whitesmoke;
    transition: all .4s;
}

.manu-hover {
    color: #c59b62;
}

.bar1,
.bar2,
.bar3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
}

.navbar-toggler {
    outline: none !important;
}

/* end of Nav */

/* header */
.heading-main {
    height: 100vh;
    width: 100%;
    background:
        /* background:linear-gradient(rgba(0, 0, 0, 0, 63), rgba(0, 0, 0, 0, 5)), */
        url(./images/coffee_3.jpg);  
}
.head-image-2{
    background:url(img/) ;
}
.banner-page{
    background:url(img/CoffeeBeans-w-175.jpg ) ;
    height: 24vh;
    width: 100%;
}

.banner {
    position: absolute;
    top: 70%;
    height: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
.banertext-color {
    color: #c59b62;
}

.heading {
      font-family: 'Comic Neue', cursive;
      animation-name: slide;
    animation-duration: 2s;
}

.main {
    animation: slide;
    animation-duration: 2s;
    animation-delay: .5s;
}

@keyframes slide {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* end of header */
/* ====About Us==== */
#about {
    background: #3a281c;
    margin: 30px;
    color: #dbc1ac;
}

/* .text {
    font-size: 12px;
} */

.about-images {
    position: relative;
}

.about-img {
    position: absolute;
    width: 150px;
    transition: all 2s ease;
    opacity: 0.9;
}
.abt-text{
    color: #dbc1ac;
}

.img-1 {
    left: 0%;
    top: 10%;
}

/* .img-2{
    left: 30%;
    top: 0%;
    z-index: 10;
} */

.img-3 {
    left: 40%;
    ;
    top: 0%;
}

.img-5 {
    left: 40%;
    ;
    top: 40%;
}

.about-img:hover {
    outline: 1px solid #dbc1ac;
    outline-offset: 32px;
    transform: scale(2.3) rotate(10deg);
    z-index: 30;
    opacity: 1;
}

.about-images:hover,
.about-img:not(:hover) {
    opacity: 0.5;
}

.btn {
    color: #fff;
    font-weight: bold;
    border: 2px solid #634832;
    font-size: 25px;
    background-color:#c59b62 ;
}

.hvr-right {
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0);
    position: relative;
    transition-property: color;
}

.hvr-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c59b62;
    transition-timing-function: ease-out;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
}

.hvr-right:hover,
.hvr-right:focus,
.hvr-right:active {
    color: #3a281c
}

.hvr-right:hover:before,
.hvr-right:focus:before,
.hvr-right:active:before {
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transform: scaleX(1);
}

/* ====footer===== */
.fa-facebook {
    margin-left: 80px;
    font-size: 40px;
    color: #c59b62;
    text-indent: 20px;

}

.fa-envelope {
    text-align: center;
    font-size: 40px;
    color: #c59b62;
    ;
    text-indent: 20px;
}

.fa-whatsapp, .fa-twitter {
    text-align: center;
    font-size: 40px;
    color: #c59b62;
    text-indent: 20px;
}

.btn-callus {
    background-color: #c59b62;
    font-weight: 600;
    font-size: 20px;
    margin-left: 30%;
    animation: slide;
    animation-duration: 2s;
    animation-delay: 1s;
}
/* ====video section==== */
.most-liked{
    position: relative;
    margin: 25px;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
    z-index: -1;
} 
.big-video{
    height: 25%;
    width: 25%;
    object-fit: fill;
}
.carousal-testimonials{
   background-image: url(img/coffee-carousal\ img2.jpg);
   background-size: cover;
}
.img-car{
    opacity: 0;
}
.manu-img{
    align-items: center;
     margin-top: 2%;
}
.price{
    color: #c59b62;
    text-decoration:solid ;
}
.footer-p{
    color: #000;
}

/* to-top-btn */
.myBtn {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#c59b62;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    border-radius: 2px;
  }
  
  .myBtn:hover {
    background-color: #3a281c;
  }
  .delicious-area{
      background: url(img/menu-bg.jpg);
  }
 
